$red-primary : #f00;
$red-dark : #f00;
$red-light : #f00;

$gray-primary : #343a40;
$gray-dark : #212529;
$gray-light : #868e96;

$blue-primary : #228be6;
$blue-dark : #1971c2;
$blue-light : #4dabf7;

$white : #f8f9fa;